.pill-search {
    height: 35px;
    border-radius: 50px;
    width: 200px;
    padding-left: 50px;
    font-size: 24px;
    box-shadow: 0 0 15px grey;
    border: 0;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 13px;
    left: 20px;
    width: 27px;
    height: 27px;
}
