h1 {
  background-color: #58bd5f;
  border: 10px solid #fbee93;
  border-radius: 50%;
  color: white;
  text-shadow: 0px 0px 4px whitesmoke;
  height: 30vh;
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1:hover {
  filter: brightness(1.15);
}