

body{
  background-image: url("./assets/Deep-Space.avif");
}

.container{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

.circle-image{
  background-image: url("https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2F0fGVufDB8fDB8fHww");
  height: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-size: cover;
  object-position: center;
  border: 5px solid rgb(41, 110, 202);
}

.text-container{
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.662);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: rgb(240, 240, 240);
  margin-left: 5em;
  margin-right: 5em;
}

.d-flex{
  display: flex;
  justify-content: center;
}